<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.mapper.LectureMapper">

    <!--新增课程-->
    <insert id="save" parameterType="ssm.model.Lecture">
        insert into lecture(name,tid,pictureurl,time,type,description,detail,environment)
        values (#{name},#{tid},#{pictureurl},#{time},#{type},#{description},#{detail},#{environment})
    </insert>


    <!--根据id删除课程-->
    <delete id="delete" parameterType="ssm.model.Lecture">
        delete from lecture where id= #{id}
    </delete>

    <!--根据id获取课程-->
    <select id="get" parameterType="_int" resultType="ssm.model.Lecture">
        select * from   lecture  where id= #{id}
    </select>


    <!--更新课程-->
    <update id="update" parameterType="ssm.model.Lecture">
        update lecture set name=#{name},tid = #{tid},
        tel = #{tel} ,pictureurl= #{pictureurl},time = #{time},
        type  = #{type},description = #{description},detail=#{detail},environment=#{environment}
        where id= #{id}
    </update>


    <!--查询全部课程-->
    <select id="list" resultType="ssm.model.Lecture">
        select * from  lecture
    </select>

    <!--根据关键字查询课程-->
    <select id="getLectureLikeName" parameterType="java.lang.String" resultType="ssm.model.Lecture">
        select * from lecture where name like concat('%',#{name},'%')
    </select>

    <!--根据名字查询课程-->
    <select id="findLectureByName" parameterType="map" resultType="ssm.model.Lecture">
        select * from lecture where name = #{name}
    </select>


    <!--根据类型查询课程-->
    <select id="getLectureByType" parameterType="map" resultType="ssm.model.Lecture">
        select * from lecture where type = #{type}
    </select>



    <!--查询老师所教课程-->
    <select id="getLectureByTeacher" parameterType="map" resultType="ssm.model.Lecture">
       select * from lecture where tid=(select id from teacher where name=#{name} )
    </select>


    <!--根据课程id找到老师-->
    <select id="findLectureById" parameterType="map" resultType="String">
        select name from teacher where id=(select tid from lecture where id=#{id} )
    </select>


    <!--根据课程名字找到老师-->
    <select id="findNameByName" parameterType="map" resultType="String">
        select name from teacher where id=(select tid from lecture where name=#{name} )
    </select>


</mapper>